.lightTheme {
  --background-color: var(--c-white-100);
  --color: var(--c-blue-700);
}

.darkTheme {
  --background-color: var(--c-green-900);
  --color: var(--c-white-100);
}

.container {
  background-color: var(--background-color);
  color: var(--color);
  min-height: 100vh;
}
