/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/theme-context/theme-provider.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.theme-provider_lightTheme__2Gf9e {
  --background-color: var(--c-white-100);
  --color: var(--c-blue-700);
}

.theme-provider_darkTheme__OFIIu {
  --background-color: var(--c-green-900);
  --color: var(--c-white-100);
}

.theme-provider_container__nkLI0 {
  background-color: var(--background-color);
  color: var(--color);
  min-height: 100vh;
}

/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/styles/reset.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

ul li {
  list-style-type: none;
  list-style-position: inside;
}

button {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  cursor: pointer;
  color: inherit;
  font: inherit;
  outline: 0;
}

html,
body {
  min-height: 100vh;
}

input,
textarea,
select,
button {
  font: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: 0;
}

a {
  -webkit-text-decoration-color: transparent;
  text-decoration-color: transparent;
  color: inherit;
  transition: -webkit-text-decoration-color 0.4s ease-in-out;
  transition: text-decoration-color 0.4s ease-in-out;
  transition:
    text-decoration-color 0.4s ease-in-out,
    -webkit-text-decoration-color 0.4s ease-in-out;
}

img {
  display: block;
  max-width: 100%;
}

figure {
  margin: 0;
}

fieldset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/styles/colors.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
:root {
  --c-white: #ffffff;
  --c-white-100: #e3e6ed;
  --c-blue-100: #b1c9ef;
  --c-blue-300: #8aaee0;
  --c-blue-500: #638ecb;
  --c-blue-700: #395886;
  --c-gray: #8a8787;
  --c-grey-700: #303a40;
  --c-grey-900: #283035;
  --c-green-900: #354249;
  --c-green-910: #39454c;
  --c-red: #c72931;
  --c-black: black;
}

/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/styles/fonts.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: 'salina trial';
  src:
    url(/_next/static/media/Salina-Trial-Regular.11b297ad.woff2) format('woff2'),
    url(/_next/static/media/Salina-Trial-Regular.7003f659.woff) format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'oswald';
  src:
    url(/_next/static/media/Oswald-Medium.5e6165d0.woff2) format('woff2'),
    url(/_next/static/media/Oswald-Medium.89cadce5.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/styles/fonts.css (1) ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: 'salina trial';
  src:
    url(/_next/static/media/Salina-Trial-Regular.11b297ad.woff2) format('woff2'),
    url(/_next/static/media/Salina-Trial-Regular.7003f659.woff) format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'oswald';
  src:
    url(/_next/static/media/Oswald-Medium.5e6165d0.woff2) format('woff2'),
    url(/_next/static/media/Oswald-Medium.89cadce5.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/styles/colors.css (1) ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
:root {
  --c-white: #ffffff;
  --c-white-100: #e3e6ed;
  --c-blue-100: #b1c9ef;
  --c-blue-300: #8aaee0;
  --c-blue-500: #638ecb;
  --c-blue-700: #395886;
  --c-gray: #8a8787;
  --c-grey-700: #303a40;
  --c-grey-900: #283035;
  --c-green-900: #354249;
  --c-green-910: #39454c;
  --c-red: #c72931;
  --c-black: black;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/styles/common.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  font-family: 'salina trial';
  font-size: 1.5rem;
  font-weight: 400;
  -webkit-font-smoothing: auto;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  overflow-x: hidden;
}

@media (max-width: 580px) {
  body {
    font-size: 1rem;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/index.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************/
