.lightTheme {
  --background-color: var(--c-blue-300);
  --border: var(--c-blue-700);
  --border-button: var(--c-blue-700);
}

.darkTheme {
  --background-color: var(--c-grey-900);
  --border: var(--c-white);
  --border-button: var(--c-red);
}

.searchInputBlock {
  display: flex;
  padding: 0.5rem;
  max-width: 50rem;
  min-width: 40rem;
  box-sizing: border-box;
  background-color: var(--background-color);
  border: 0.17rem solid var(--border);
  border-radius: 0.2rem;
}

.searchInputBlock:focus {
  border: 0.2rem solid var(--border-button);
}

.searchInput {
  width: 100%;
  border: 0;
  outline: 0;
  color: var(--border);
  background-color: var(--background-color);
}

.searchBtn {
  min-width: 2rem;
  height: 2rem;
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
  background-color: var(--border-button);
  mask-image: url('../../assets/svg-icons/search.svg');
  cursor: pointer;
}

.searchBtn:hover {
  background-color: var(--c-white);
  transform: scale(1.1);
}

@media (max-width: 1080px) {
  .searchInputBlock {
    min-width: 30rem;
  }
}

@media (max-width: 900px) {
  .searchInputBlock {
    min-width: 25rem;
  }
}

@media (max-width: 800px) {
  .searchInputBlock {
    min-width: 15rem;
  }
}

@media (max-width: 620px) {
  .searchInputBlock {
    min-width: 10rem;
  }
}
