@import '../../../styles/colors.scss';
.btn {
  display: inline-block;
  padding: 0.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
  color: $c-green-500;
  background-color: $c-orange-900;
  border-radius: 0.5rem;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem $c-green-500);
  cursor: pointer;

  &:active,
  &:focus {
    background-color: $c-orange-100;
  }

  &:disabled {
    border: none;
    background-color: $c-gray;
    box-shadow: none;
    cursor: not-allowed;
  }
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover:not([disabled]) {
    color: $c-orange-100;
    background-color: $c-green-500;
    filter: drop-shadow(0.2rem 0.2rem 0.3rem $c-yellow);
    transform: scale(1.05);
  }
}
