.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 0.5rem;
}

.mainContent {
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  padding: 0.5rem;
  background-color: var(--c-green-910);
}

@media (max-width: 1080px) {
  .container {
    gap: 1rem;
  }
}

@media (max-width: 580px) {
  .container {
    flex-wrap: wrap-reverse;
    gap: 2rem;
  }
}
