.conditionBlock {
  width: 15rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--c-grey-900);
  border: 0.1rem solid var(--c-white);
  border-radius: 0.2rem;
}

.conditionBlock:hover {
  background-color: var(--c-green-900);
}

.name {
  height: 6.5rem;
  color: var(--c-red);
}

.condition {
  min-width: 2rem;
  height: 2rem;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  mask-image: url('../../assets/svg-icons/condition.svg');
  background-color: var(--c-white);
}

.notCondition {
  mask-image: url('../../assets/svg-icons/not-condition.svg');
}
